# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# logs & temporary files
*.log
.next-dev.err.log
.next-dev.out.log
tmp_page_tsx_replacement.tsx

# misc
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts